.comentarios{
    h2{
        margin-bottom: 2rem;
    }
    &-box{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    &-item{
        width: 48%;
    }
}

@media only screen and (max-width: 560px){
    .comentarios{
        &-box{
            flex-direction: column;
        }
        &-item{
            width: 100%;
            text-align: center;
            margin-top: 1rem;
        }
    }
}