@import '../../styles.scss';

.sobre{
    display: flex;
    align-items: center;
    &-esq{
        width: 50%;
        img{
            width: 100%;
        }
    }
    &-dir{
        width: 50%;
        display: flex;
        margin-left: 3rem;
        flex-direction: column;
        h2{
            width: 50%;
        }
        p{
            margin: 1rem 0;
        }
    }
    &-link{
        color: $color-red;
        font-weight: 500;
        font-family: 'Inter', sans-serif;
        text-decoration-line: underline;
        &:hover{
            cursor: pointer;
        }
    }
}

@media only screen and (max-width: 560px){
    .sobre{
        margin: 2rem 0;
        flex-direction: column;
        &-esq{
            width: 100%;
        }
        &-dir{
            width: 100%;
            margin: 2rem 0;
            text-align: center;
            h2{
                width: 80%;
                margin: auto;
            }
        }
    }
}