@import '../../../styles.scss';


.item{
    padding: 1rem;
    width: fit-content;
    border-radius: 16px;
    background-color: $color-white-2;
    h4{
        font-weight: 500;
    }
    p{
        // width: 70%;
        margin: .7rem 0;
    }
}