.popular{
    margin: 2rem 0;
    h2{
        text-align: center;
    }
    &-box{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    &-item{
        width: 30%;
    }
}

@media only screen and (max-width: 560px){
    .popular{
        &-box{
            flex-direction: column;
        }
        &-item{
            width: fit-content;
            margin: auto;
        }
    }
}